[DEFAULT]

datadir = /content/mask-align-vi-en/data
train_input = ['${datadir}/train_vi_32k.src.shuf', '${datadir}/train_en_32k.tgt.shuf']
valid_input = ['${datadir}/test_vi_32k.src', '${datadir}/test_en_32k.tgt']
vocab = ['${datadir}/train_vi_vocab.src.txt', '${datadir}/train_en_vocab.tgt.txt']
test_input = ['${datadir}/test_vi_32k.src', '${datadir}/test_en_32k.tgt']
test_ref = ${datadir}/gold-vi-en.talp

; change these to your experiment directory
; all results are saved in the directory [output]
exp_dir = /content/gdrive/MyDrive/exp
label = vien-baseline
output = ${exp_dir}/${label}

; change these to match your own machine configuration
; the actual training 36k = batch_size * update_cycle * len(device_list)
batch_size = 4500
update_cycle = 8
device_list = [0]
half = False
;batch_size = 9000
;update_cycle = 1
;device_list = [0,1,2,3]
;half = True

; model configuration
; the hyperparameters [alpha, beta, lamb, th] are same as described in the paper
model = mask_align
agree_alpha = 5
entropy_loss = True
entropy_beta = 1
renorm_lamb = 0.05
extract_th = 0.2
eval_plot = True
